{% extends 'admin/change_form.html' %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript">
     var $appGroups = $('.field-is_mobile_app,.field-is_desktop_app,.field-mobile_apple_url,.field-mobile_google_url,.field-desktop_macos_url,.field-desktop_linux_url,.field-desktop_windows_url');
     var $UrlInputs = $('#id_mobile_apple_url,#id_mobile_google_url,#id_desktop_macos_url,#id_desktop_linux_url,#id_desktop_windows_url');
     var $appCheckboxes = $('#id_is_mobile_app,#id_is_desktop_app');
    function toggleShowcaseFields(category) {
      if (category === 'app') {
          $appGroups.css('display', 'inline');
      } else {
          $appGroups.css('display', 'none');
          $UrlInputs.val('');
          $appCheckboxes.prop('checked', false);
      }
    }
    var $selectCategory = $(document).find('select#id_category');

    $(document).ready(function() {
        if($selectCategory.size()){
            toggleShowcaseFields($selectCategory.val());
        }
    });

    $selectCategory.change(function(){
        toggleShowcaseFields($(this).val());
    });
    </script>
{% endblock %}
