# INSTALLATION PROCESS
# pip install -I pipenv==2022.10.12
# pipenv run pip install setuptools"<58"
# pipenv install --dev

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Base dependencies:
setuptools = "<58"
flatdict = "~=4.0"
dpath = "~=2.2"
marshmallow = "==3.9.1"  # Check --> deps_update_docs/Dependency constraints.md
webargs = "~=5.3"
pyjwt = "~=1.7"
querystring-parser = "~=1.2"
python-magic = "~=0.4"
rules = "~=3.5"
celery = "~=5.5.3"
goodtables = {version = "~=2.1", extras = ["ods"]}
passlib = "~=1.7"
markdown2 = "~=2.5"
marshmallow-jsonapi = "~=0.24"
json-api-doc = "~=0.15"
gevent = "~=24.2"
phonenumbers = "~=8.13"
wagtail = "==2.13.5"
hypereditor = {path = "./hypereditor-0.1.0-py3-none-any.whl"}
django-suit = {path = "./django_suit-0.2.28-py3-none-any.whl"}
django = "==2.2.9"
# Django extras
django-constance = {version = "~=4.1", extras = ["database"]}
django-elasticsearch-dsl = "==6.4.2"
django-redis = "~=5.2"
django-localflavor = "~=3.1"
django-environ = "~=0.11"
django-ckeditor = "~=6.3"
django-nested-admin = "~=4.1"
django-celery-results = "~=2.4"
django-celery-beat = "==2.2.1"  # Check --> deps_update_docs/Dependency constraints.md
django-cache-memoize = "~=0.2"
django-tqdm = "~=1.3"
django-modeltrans = "~=0.7"
django-searchable-encrypted-fields = "~=0.1"
dal-admin-filters = "~=1.1"
discourse-django-sso = "~=0.9"
django-admin-confirm = "~=0.2"  # 0.2.5 Max for django 2.2
django-admin-multiple-choice-list-filter = "~=0.1"
django-admin-rangefilter = "==0.4.0"  # Check --> deps_update_docs/Dependency constraints.md
django-auditlog = "~=1.0"
django-extensions = "~=3.1"
django-notifications-hq = "~=1.7"
django-fancy-cache = "==1.1.0"  # Check --> deps_update_docs/Dependency constraints.md
django-csp = "==3.7"
# werkzeug libs
werkzeug = "~=0.15"
accept-types = "~=0.4"
# openapi libs
openapi-core = "==0.7.1"  # Check --> deps_update_docs/Dependency constraints.md
openapi-spec-validator = "==0.2.9"  # Check --> deps_update_docs/Dependency constraints.md
apispec = "==1.3.3"
# xmlschema
xmlschema = "==3.4.4"  # Check --> deps_update_docs/Dependency constraints.md
dicttoxml = "==1.7.4"
# logingovpl
xmlsec = "==1.3.14"  # Check --> deps_update_docs/Dependency constraints.md
lxml = "==5.3.0"  # Check --> deps_update_docs/Dependency constraints.md
pycryptodome = "~=3.23"
cryptography = "~=46.0"
pyopenssl = "~=25.3"
# Bokeh
bokeh = "~=2.4"
jupyter-client = "~=7.2"
jupyter = "~=1.0"
# Other
jsonschema = "~=4.23"
taskgroup = "~=0.2"
prometheus-client = "~=0.21"
libarchive-c = "~=5.3"
pyproj = "~=3.5"
python-logstash = "~=0.4"
python-mimeparse = "~=2.0"
pyshacl = "~=0.28"
pyshp = "~=2.3"
more-itertools = "~=10.5"
jinja2 = "~=3.0"
panel = "~=0.12"  # Check --> deps_update_docs/Dependency constraints.md
param = "~=1.13"
hvplot = "~=0.10"
pandas = "~=1.2" # https://github.com/holoviz/holoviews/issues/5009
falcon-caching = "~=1.1"
user-agents = "~=2.2"
pydiscourse = "~=1.7"
cchardet = "~=2.1"
tifffile = "~=2023.7"
falcon-limiter = "==1.0.1"
netcdf4 = "~=1.7"
wagtailvideos = "~=2.11"
rarfile = "~=4.2"
py7zr = "~=0.22"
numpy = "~=1.23"
fake-useragent = "~=1.5"
bleach = {version = "~=6.1", extras = ["css"]}
tzlocal = "~=5.2"
unleashclient = "~=6.7.0"
urllib3 = "~=1.26"
gunicorn = "~=23.0"
wheel = "~=0.44"
falcon = "~=4.0"
hypercorn = "~=0.13.2" # Check --> deps_update_docs/Dependency constraints.md
psycopg2-binary = "==2.8.6"  # Check --> deps_update_docs/Dependency constraints.md
sentry-sdk = "~=2.53"
bs4 = "~=0.0"
celery-progress = "~=0.4"
channels = "~=2.4"  # Max for django < 3.0
cython = "~=3.0"
deepdiff = "~=8.1"
django-axes = "*"

[dev-packages]
flake8 = "~=7.0"  # last version supporting python 3.8.1
pytest = "~=6.2"
pytest-django = "~=4.5"
pytest-ordering = "~=0.6"
pytest-factoryboy = "~=2.7"
pytest-mock = "~=3.14"
pytest-selenium = "~=4.0"
pytest-bdd = "~=5.0"
pytest-localserver = "~=0.9"
pytest-xdist = "~=1.32"
namedlist = "~=1.8"
requests-mock = "~=1.7"
factory-boy = "~=2.12"
pytest-cov = "~=2.11"
pep8 = "~=1.7"
autopep8 = "~=2.2"
pylint = "~=3.2"
jedi = "~=0.16"
pre-commit = "~=3.5"
changelog-cli = "~=0.6"
pipdeptree = "~=2.24"

[requires]
python_version = "3.8"

[scripts]
services_up = "docker compose up"
init_mcod_db = "python manage.py init_mcod_db"
reindex = "python manage.py search_index --rebuild -f"
validate_resources = "python manage.py validate_resources --async"
admin = "python manage.py runserver 0:8001"
api = "sh -c 'COMPONENT=api python -m werkzeug.serving --bind 0:8000 --reload --debug mcod.api:app'"
cms = "sh -c 'COMPONENT=cms python manage.py runserver 0:8002'"
celery = "sh -c 'COMPONENT=celery python -m celery --app=mcod.celeryapp:app worker -l DEBUG -E -Q default,resources,indexing,periodic,newsletter,notifications,search_history,watchers,harvester,indexing_data,history,graphs,datasets,archiving,reports,discourse,showcases'"
tests = "pytest"
