wheel==0.35.1
unleashclient==4.4.1
pyyaml==5.1
ipython==7.5
lxml==4.6.2
html5lib==1.0.1
urllib3==1.24.1
Cython==0.29.21
gunicorn==19.9.0
psycopg2-binary==2.8.6
falcon==3.0.1
jsonschema<3.0
click==7.1.2
werkzeug==0.15.6
hypercorn==0.5.4
flatdict==3.1.0
dpath==1.4.2
marshmallow==3.9.1
apispec==1.3.3
webargs==5.3.1
pyjwt==1.7.1
fleep==1.0.1
querystring-parser==1.2.3
python-magic==0.4.15
argon2-cffi==19.1.0
pillow==7.1.0
rules==2.0
beautifulsoup4<4.9,>=4.8
bs4==0.0.1
fire==0.1.3
celery==5.0.2
ezodf==0.3.2
elasticsearch-dsl>=6.4.0,<7.0.0
docutils==0.15.2
boto3==1.9 # dependency fix
goodtables==2.1.4
goodtables[ods]==2.1.4
tqdm==4.28.1
deepdiff==3.3.0
pygments>=2.4.1
passlib==1.7.1
markdown2==2.3.5
marshmallow-jsonapi==0.24.0
json-api-doc==0.7.0
astroid==2.4.2
openapi-spec-validator==0.2.9
openapi-core==0.7.1
gevent==20.9.0
phonenumbers==8.10.5
django==2.2.9
django-constance[database]==2.3.1
django-elasticsearch-dsl==6.4.2
django-redis==5.0.0
django-suit==0.2.26
django-model-utils==3.1.2
django-localflavor==2.1
django-environ==0.4.5
django-ckeditor==5.6.1
django-nested-admin==3.1.2
django-autocomplete-light==3.3.2
django-admin-rangefilter==0.3.12
dal_admin_filters==0.2.2
django-celery-results==2.0.0
django-celery-beat==2.1.0
django-cache-memoize==0.1.7
django-tqdm==0.0.3
django-modeltrans==0.4.0
dj-database-url==0.5.0
django-vault-helpers==0.8.0
changelog-cli==0.6.2
libarchive-c==2.8
elastic-apm==6.0.0
pyproj==3.0.0.post1
python-logstash==0.4.6
python-mimeparse==1.6.0
pyshacl==0.13.2
pyshp==2.1.0
more-itertools==7.2.0
wagtail==2.13.5
wand==0.5.7
hypereditor-0.1.0-py3-none-any.whl
python-dateutil==2.8.1
xmlschema==1.0.16
celery-progress==0.0.14
celery-singleton==0.3.1
tox
xlsxwriter==1.2.9
accept-types==0.4.1
pyparsing==2.4.7
rdflib==5.0.0
rdflib-jsonld==0.5.0
channels==2.4.0
panel==0.9.7
hvplot==0.6.0
pandas<1.3  # https://github.com/holoviz/holoviews/issues/5009
holoviews==1.13.3
django-extensions==3.0.7
jupyter
debugpy
django-notifications-hq==1.6.0
django-admin-multiple-choice-list-filter==0.1.1
falcon-caching==0.3.3
# For chart thumbnails
selenium==3.141.0
phantomjs==1.3.0
user-agents==2.2.0
ua-parser==0.10.0
pydiscourse==1.1.2
cchardet==2.1.7
discourse-django-sso==0.9.2
django-admin-confirm==0.2.2
bokeh==2.2.3
falcon-limiter==0.1.2
dicttoxml==1.7.4
csvwlib==0.3.2
django-fancy-cache==1.0.0
tifffile
django-auditlog==1.0a1
netcdf4==1.5.7
