flake8
coverage
werkzeug==0.15.6
pytest==6.1.2
pytest-django
pytest-ordering
pytest-factoryboy
pytest-mock
namedlist
pytest-selenium
pytest-bdd==5.0.0
pytest-localserver
pytest-xdist==1.32.0
requests-mock==1.7.0
factory-boy==2.12.0
pytest-cov == 2.11.1
