server {
  listen 80;
  listen [::]:80;
  server_name mcod.local www.mcod.local;
  charset utf-8;

  client_max_body_size 500M;
  access_log /var/log/nginx/frontend_access.log;
  error_log /var/log/nginx/frontend_errors.log;
  root /usr/share/nginx/html;

  location / {
    proxy_pass http://frontend;
    proxy_pass_header Server;
    proxy_set_header Host localhost;
    proxy_set_header X-Scheme $scheme;
    proxy_set_header X-Url-Scheme $scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
  }

  location /version {
    try_files $uri /version.txt;
  }

  location /static {
    alias /vagrant/statics;
  }

  location /media {
    alias /vagrant/test-data/media;
  }

}

upstream frontend {
    server localhost:8081;
}