{% load static i18n core_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% trans "Datasets & Resources Import Report" %}</title>
</head>
<body>

<div style="width:650px; margin:auto;">
    <table border="0" cellspacing="0" cellpadding="0" align="center" style="width:100%;display:block;margin:0 auto;border:none;max-width:580px;table-layout:fixed;">
        <tr style="max-width:580px; padding-top:10px; padding-bottom:10px;">
            <td style="padding-top:10px; padding-bottom:10px; width:100%; overflow:hidden; float:left;"><img src="{{ host }}{% static "mails/logo-otwarte-dane.png" %}" alt="Download images"></td>
        </tr>
        <tr style="max-width:580px; padding-top:10px; padding-bottom:10px;">
            <td align="left" style="padding-top:10px; padding-bottom:10px; max-width:580px;border-collapse: collapse;text-align:left; vertical-align:middle">
                <div style="text-align:left;font-size:36px;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);">
                    {%  trans "DATASETS & RESOURCES IMPORT REPORT" %}: {{ obj.datasource.title }}
                </div>
            </td>
        </tr>
        <tr style="max-width:580px; padding-top:10px; padding-bottom:10px;">
            <td align="left" style="padding-top:10px; padding-bottom:10px; max-width:580px; overflow:hidden;"><img src="{{ host }}{% static "mails/kreska-mail.png" %}" alt="Download images"></td>
        </tr>
        <tr style="max-width:580px; padding-top:10px; padding-bottom:10px;">
            <td align="left" style="padding-top:10px; padding-bottom:10px; max-width:580px;border-collapse: collapse;text-align:left;vertical-align:middle">
                <p style="text-align:left;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);line-height:140%;display: block !important;">
                    {% get_verbose_field_name obj "start" %}: {{ obj.start }}
                </p>
                <p style="text-align:left;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);line-height:140%;display: block !important;">
                    {% get_verbose_field_name obj "end" %}: {{ obj.end }}
                </p>
                <p style="text-align:left;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);line-height:140%;display: block !important;">
                    {% get_verbose_field_name obj "status" %}: {{ obj.get_status_display }}
                </p>
                {% if obj.error_desc %}
                <p style="text-align:left;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);line-height:140%;display: block !important;">
                    {% get_verbose_field_name obj "error_desc" %}: {{ obj.error_desc }}
                </p>
                {% endif %}}
                <p style="text-align:left;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);line-height:140%;display: block !important;">
                    {% get_verbose_field_name obj "datasets_count" %}: {{ obj.datasets_count }}
                </p>
                <p style="text-align:left;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);line-height:140%;display: block !important;">
                    {% get_verbose_field_name obj "datasets_created_count" %}: {{ obj.datasets_created_count }}
                </p>
                <p style="text-align:left;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);line-height:140%;display: block !important;">
                    {% get_verbose_field_name obj "datasets_updated_count" %}: {{ obj.datasets_updated_count }}
                </p>
                <p style="text-align:left;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);line-height:140%;display: block !important;">
                    {% get_verbose_field_name obj "datasets_deleted_count" %}: {{ obj.datasets_deleted_count }}
                </p>
                <p style="text-align:left;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);line-height:140%;display: block !important;">
                    {% get_verbose_field_name obj "resources_count" %}: {{ obj.resources_count }}
                </p>
                <p style="text-align:left;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);line-height:140%;display: block !important;">
                    {% get_verbose_field_name obj "resources_created_count" %}: {{ obj.resources_created_count }}
                </p>
                <p style="text-align:left;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);line-height:140%;display: block !important;">
                    {% get_verbose_field_name obj "resources_updated_count" %}: {{ obj.resources_updated_count }}
                </p>
                <p style="text-align:left;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);line-height:140%;display: block !important;">
                    {% get_verbose_field_name obj "resources_deleted_count" %}: {{ obj.resources_deleted_count }}
                </p>
            </td>
        </tr>
        {% include 'mails/_footer.html' %}
    </table>
</div>
</body>
</html>
