{% load i18n admin_static admin_modify suit_tags core_tags admin_urls %}
{% load url from suit_compat %}

<div class="btn-group" data-toggle="buttons-radio">
    <button id='{{ widget.name }}-tf' type="button"
            class="btn btn-mini{% if widget.value == 'file' %} active{% endif %} js-switch-to-file"
            autocomplete="off">{% blocktrans %}File from disk{% endblocktrans %} {{ new }}
    </button>
    <button id='{{ widget.name }}-tu' type="button"
            class="btn btn-mini{% if widget.value == 'link' %} active{% endif %} js-switch-to-link"
            autocomplete="off">{% blocktrans %}URL address{% endblocktrans %}
    </button>
    <input type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %}
           value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}
           class="js-switcher"/>

</div>

<script>
    (function ($) {
        $(document).ready(function () {


            var file_field = null;
            var data_date_field = null;
            var url_field = null;
            var switcher = null;
            var root = null;
            var file_switch = null;
            var url_switch = null;

            $('body').on('form-ready', function (event, form) {
                root = form;
                switcher = form.find('.js-switcher');
                url_switch = form.find('.js-switch-to-link');
                file_switch = form.find('.js-switch-to-file');

                data_date_field = form.find("[type=text][id$=\"data_date\"]").closest('.field-data_date')

                url_switch.on('click', function (ev) {
                    file_field.hide();
                    data_date_field.hide();
                    url_field.show();
                    switcher.val('link');
                });

                file_switch.on('click', function (ev) {
                    url_field.hide();
                    file_field.show();
                    data_date_field.show();
                    switcher.val('file');
                });


                $('body').trigger('switcher-ready', [root, switcher]);
            });


            $('body').on('file-field-rendered', function (ev, field) {
                file_field = field;
                setup_switcher();
            });

            $('body').on('url-field-rendered', function (ev, field) {
                url_field = field;
                setup_switcher();
            });

            $('body').on('switch-to-file', function (ev) {


            });

            var setup_switcher = function () {
                if (root && switcher && file_field && url_field) {
                    current_value = switcher.val();
                    if (!current_value) current_value = 'file';
                    sw = root.find('.js-switch-to-' + current_value);
                    sw.trigger('click');
                }
            };

        });
    }(django.jQuery));
</script>
