{% load static i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% blocktrans %}Password reset{% endblocktrans %}</title>
</head>
<body>

<div style="width:650px; margin:auto;">
    <table border="0" cellspacing="0" cellpadding="0" align="center"
           style="width:100%;display:block;margin:0 auto;border:none;max-width:580px;table-layout:fixed;">


        <tr style="max-width:580px; padding-top:10px; padding-bottom:10px;">
            <td style="padding-top:10px; padding-bottom:10px; width:100%; overflow:hidden; float:left;"><img
                    src="{{ host }}{% static "mails/logo-otwarte-dane.png" %}" alt="Download images"></td>
        </tr>
        <tr style="max-width:580px; padding-top:10px; padding-bottom:10px;">
            <td align="left"
                style="padding-top:10px; padding-bottom:10px; max-width:580px;border-collapse: collapse;text-align:left; vertical-align:middle">
                <div style="text-align:left;font-size:36px;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);">
                    {% blocktrans %}ACCOUNT ALREADY EXISTS ON DANE.GOV.PL PORTAL{% endblocktrans %}
                </div>
            </td>
        </tr>

        <tr style="max-width:580px; padding-top:10px; padding-bottom:10px;">
            <td align="left" style="padding-top:10px; padding-bottom:10px; max-width:580px; overflow:hidden;"><img
                    src="{{ host }}{% static "mails/kreska-mail.png" %}" alt="Download images"></td>
        </tr>

        <tr style="max-width:580px; padding-top:10px; padding-bottom:10px;">
            <td align="left"
                style="padding-top:10px; padding-bottom:10px; max-width:580px;border-collapse: collapse;text-align:left;vertical-align:middle">
                <p style="text-align:left;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);line-height:140%;display: block !important;">
                    {% blocktrans %}An account associated with this email address already exists on the dane.gov.pl portal.{% endblocktrans %}<br><br>
                    {% blocktrans %}If you don't remember your password, you can change it. To do so, open the link below or copy and paste it into your web browser:{% endblocktrans %}<br>
                </p>

                <p style="text-align:left;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);line-height:140%;display: block !important;">
                    <a href="{{ link }}" target="_blank" nh-safe-redirect="" data-saferedirecturl="*"
                       style="text-align:left;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);line-height:140%;display: block !important;color: #008294;text-decoration: underline;">
                        {{ link }}
                    </a>
                </p>

                <p style="text-align:left;font-family: Open Sans Light , Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);line-height:140%;display: block !important;">
                    {% blocktrans %}Not trying to register? Ignore this message — someone may have accidentally entered your email address.{% endblocktrans %} <br>
                </p>
            </td>
        </tr>

        {% include 'mails/_footer.html' %}
    </table>

</div>
</body>
</html>
