{% load static i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Zgłoszono propozycję aplikacji</title>
   </head>
   <body>
		<div style="width:650px; margin:auto;">
               <table border="0" cellspacing="0" cellpadding="0" align="center" style="width:100%;display:block;margin:0 auto;border:none;max-width:580px;table-layout:fixed;">
                    <tr style="max-width:580px;padding-top:10px;padding-bottom:10px;">
                        <td width="580" style="padding-top:10px;padding-bottom:10px;width:100%;overflow:hidden;float:left;">
                            <img src="{{ host }}{% static "mails/logo-otwarte-dane.png" %}" alt="{% trans 'Download images' %}">
                        </td>
                    </tr>
                    <tr style="max-width:580px;padding-top:10px;padding-bottom:10px;">
                        <td width="580" align="left" style="padding-top:10px;padding-bottom:10px;max-width:580px;border-collapse:collapse;text-align:left;vertical-align:middle">
                            <div style="text-align:left;font-size:36px;font-family: Open Sans Light, Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);">
                                Zgłoszenie Aplikacji.
                            </div>
                            <div style="padding-top:10px;text-align:left;font-family: Open Sans Light, Arial, Helvetica, sans-serif;text-decoration:none solid rgb(102, 102, 102);color:rgb(102, 102, 102);">
                                Twój wniosek dotyczący zgłoszenia aplikacji został przyjęty. Dziękujemy.
                            </div>
                        </td>
                    </tr>
                    <tr style="max-width:580px; padding-top:10px; padding-bottom:10px;">
                        <td width="580" align="left" style="padding-top:10px;padding-bottom:10px;max-width:580px;overflow:hidden;">
                            <img src="{{ host }}{% static "mails/kreska-mail.png" %}" alt="{% trans 'Download images' %}">
                        </td>
                    </tr>
                </table>
                <table border="0" cellspacing="0" cellpadding="0" align="center" style="width:100%;display:block;margin:0 auto;border:#dadada 1px solid;max-width:580px;table-layout:fixed; clear:both;">
                    {% include 'mails/proposal-row-label.html' with val='E-mail zgłaszającego:' %}
                    {% include 'mails/proposal-row-value.html' with val=applicant_email %}
                    {% include 'mails/proposal-row-label.html' with val='Tytuł aplikacji:' %}
                    {% include 'mails/proposal-row-value.html' with val=title %}
                    {% include 'mails/proposal-row-label.html' with val='Autor:' %}
                    {% include 'mails/proposal-row-value.html' with val=author %}
                    {% include 'mails/proposal-row-label.html' with val='Adres url aplikacji:' %}
                    {% include 'mails/proposal-row-value.html' with val=url %}
                    {% include 'mails/proposal-row-label.html' with val='Opis aplikacji:' %}
                    {% include 'mails/proposal-row-value.html' with val=notes|linebreaksbr %}
                    {% include 'mails/proposal-row-label.html' with val='Obrazek z logo (opcjonalny):' %}
                    {% include 'mails/proposal-image.html' with image_src='cid:app-logo' %}
                    {% if illustrative_graphics %}
                        {% include 'mails/proposal-row-label.html' with val='Grafika ilustracyjna (opcjonalna):' %}
                        {% include 'mails/proposal-image.html' with image_src='cid:illustrative-graphics' %}
                    {% endif %}
                    {% include 'mails/proposal-row-label.html' with val='Lista zbiorów danych używanych przez aplikację (opcjonalne):' %}
                    {% include 'mails/proposal-row-value.html' with val=dataset_links|safe %}
                    {% include 'mails/proposal-row-label.html' with val='Lista zbiorów danych zewnętrznych używanych przez aplikację (opcjonalne):' %}
                    {% include 'mails/proposal-row-value.html' with val=external_dataset_links|safe %}
                    {% include 'mails/proposal-row-label.html' with val='Słowa kluczowe (opcjonalne):' %}
                    {% include 'mails/proposal-row-value.html' with val=keywords|join:", " %}
                </table>
                <table border="0" cellspacing="0" cellpadding="0" align="center" style="width:100%;display:block;margin:0 auto;border:none;max-width:580px;table-layout:fixed;clear:both;">
                  {% include 'mails/_footer.html' with strip=True %}
                </table>
		</div>
   </body>
</html>
