{% extends "admin/delete_selected_confirmation.html" %}

{% load core_tags admin_urls i18n l10n %}

{% block content %}
    {% if perms_lacking %}
        {% block perms_lacking %}
        <p>{% blocktrans %}Deleting the selected {{ objects_name }} would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
        <ul>
            {% for obj in perms_lacking %}
                <li>{{ obj }}</li>
            {% endfor %}
        </ul>
        {% endblock perms_lacking %}
    {% elif protected %}
        <p>{% blocktrans %}Deleting the selected {{ objects_name }} would require deleting the following protected related objects:{% endblocktrans %}</p>
        <ul>
            {% for obj in protected %}
                <li>{{ obj }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% blocktrans %}Are you sure you want to delete the objects?: {% endblocktrans %}</p>
        {% for obj in queryset %}
            <p> {%  if obj.title %}"{{ obj.title|truncatewords:"18" }}" {% elif obj.email %} "{{ obj.email }}" {% else %} "{{ obj|truncatewords:"18" }}" {% endif %}</p>
            {% if obj.datasource_datasets %}
              <p>({% trans 'All existing datasets and resources imported from this source will be deleted also.' %})</p>
            {% endif %}
        {% endfor %}
        {% if not queryset.model.trash_class or queryset.model.is_trash %}
            <p class="irreversible-deletion-warning">{% trans "Removing an object is an irreversible operation." %}</p>
        {% endif %}

        <form method="post">{% csrf_token %}
            <div>
                {% for obj in queryset %}
                <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}">
                {% endfor %}
                <input type="hidden" name="action" value="delete_selected">
                <input type="hidden" name="post" value="yes">
                <input type="submit" value="{% trans "Yes, I'm sure" %}">
                <a href="#" onclick="goBack()" class="button cancel-link">{% trans "No, take me back" %}</a>
            </div>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </form>
    {% endif %}
{% endblock %}
