{% extends "admin/change_form.html" %}
{% load static core_tags %}

{% block extrastyle %}
    {{ block.super }}
    {% is_unleash_enabled "S21_licenses.be" as S21_licenses %}
    {% if S21_licenses %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dataset_change_form.css' %}" media="all">
    {% endif %}
{% endblock extrastyle %}

{% block extrajs %}
    {{ block.super }}
    {% is_unleash_enabled "S21_licenses.be" as S21_licenses %}
    {% if S21_licenses %}
    {% include 'admin/datasets/licences/licenses_script.html' with prefix="datasets-2-0-" %}
    {% endif %}
{% endblock extrajs %}
