input {
    udp {
        port => 5959
        codec => json
        workers => 4
        queue_size => 4000
        type => django
    }
}

output {
    elasticsearch {
        hosts => ["localhost:9200"]
    }
}